.navbar .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    /* color: #ffffff; */
}

.navbar-brand span {
    font-weight: 100;
    font-size: small;
}

.jumbotron {
background: black;;
background-image: url(../images/dvsac2011headshot.jpg);
background-repeat: no-repeat;
background-size: contain;
height: 100vh;
max-width: 2800px;
background-attachment: fixed;}

.wrapper {
    text-align: center;
    margin-top: 250px;
    margin-right: 500px;
    text-align: right;
}

.jumbotron h1{
font-family: 'Rock Salt', cursive;
font-size: 5rem;
color: #ffffff;
}

/* .jumbotron .display-1 {
    height: 100vh;
} */

.jumbotron p {
    color: #ffffff;
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.5rem;
    margin-top: 30px;
}


.viewportfoliobtn {
    font-family: "Rock Salt", "Cursive";
}

.main-content {
    background-color: black;
}

.d-block{
height: auto;
background-size: cover;
margin: 30px auto;
}

.carousel-item{ 
    background-color: black;
}

footer {
    text-align: center;
    padding-top: 20px;
}