.navbar .navbar-brand {
    font-size: 28px;
    font-weight: bold;
    /* color: #ffffff; */
}

.navbar-brand span {
    font-weight: 100;
    font-size: small;
}

.jumbotron {
    background-color: black;
}

.jumbotron p {
    color: #ffffff;
}
.display-1{
font-family: 'Rock Salt', cursive;
color: #ffffff;
}

.viewportfoliobtn {
    font-family: "Rock Salt", "Cursive";
}

.main-content {
    background-color: black;
}

.d-block{
height: auto;
background-size: cover;
margin: 30px auto;
}

.carousel-item{ 
    background-color: black;
}

footer {
    text-align: center;
    padding-top: 20px;
}